@model DOTNET_lab4.Models.ViewModels.StudentMembershipsViewModel
@{
    ViewData["Title"] = "EditMemberships";
    Layout = "~/Views/shared/__Layout.cshtml";
}

<h1>Edit Memberships:</h1>
<h2>Student: @Model.student.FullName </h2>
<hr>
<table class="table">
    <tr>
        <th>| Community |</th>
        <th> Register/Unregister |</th>
    </tr>

    @foreach (var item in Model.student.Membership)
    {
        <tr>
            <td>
                 @item.community.Title 
            </td>
            <td>
                <form id="@item.CommunityID" asp-controller="Students" asp-action="SetMemberships" asp-route-StudentID="@Model.student.id" asp-route-CommunityID="@item.CommunityID" role="form">
                    <a href="#" onclick="document.getElementById('@item.CommunityID').submit()">Unregister</a>
                </form>
            </td>
        </tr>
    }

    @foreach (var item in Model.communities)
    {
        <tr>
            <td>
                 @item.Title 
            </td>
            <td>
                <form id="@item.ID" asp-controller="Students" asp-action="SetMemberships" asp-route-StudentID="@Model.student.id" asp-route-CommunityID="@item.ID" role="form">
                    <a href="#" onclick="document.getElementById('@item.ID').submit()">Register</a>
                </form>
            </td>
        </tr>
    }
       
</table>
<hr>
<a asp-action="Index" >back to list</a>