@model DOTNET_lab4.Models.CommunityAdvert

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/shared/__Layout.cshtml";
}

<h1>View</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Advertisement.FileName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Advertisement.FileName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Advertisement.Url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Advertisement.Url)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type ="hidden" asp-for="CommunityID" />
        <input type="hidden" asp-for="AdvertisementID" />
        <input type="submit" value="Delete" class="btn btn-danger" formmethod="post" /> |
        <a asp-action="Index" asp-route-CommunityID="@Model.CommunityID">Back to List</a>
    </form>
</div>